%table.table
  %thead
    %tr
      %th Tittel
      %th Bedrift
      %th Tidspunkt
  - unless presentations.empty?
    - presentations.each do |presentation|
      %tr
        %td
          = link_to presentation.with_prefix, presentation
        %td
          = presentation.corporation
        %td
          %time{ :datetime => @promo.presentation_date.xmlschema }
            = @promo.presentation_date.strftime("%d. %B %Y – %H:%M")
        - if @current_user.respond_to? :role_symbols_with_hierarchy and @current_user.role_symbols_with_hierarchy.include? :presentation_administrator
          %td
            = render 'edit_button', :presentation => presentation
