body {
	margin-bottom:2em;
}

.navbar.navbar-static-top {
	margin-bottom:2em;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px;
}

.formtastic .form-actions {
    border-top: none;
    padding-top: 0;
}

.banner-image 
{ 
  padding:0; 
  position:relative;
  margin-bottom: 30px;
  height: 300px; 
  background-position: center;
}


.banner-image > .align_bottom
{
  position:absolute; 
  bottom:0em; 
  padding-bottom:1em; 
  margin-left:0;
}

.banner-image > .align_bottom > h2
{
  font-size:4em; 
  margin: 0.3em 0; 
  padding: 0; 
  text-align: left;
}

.banner-image > .align_bottom > h2 > a
{
	margin:0; 
	background-color:#A03033; 
	color:white; 
	padding:0 20px 0 20px; 
}

.banner-image > .align_bottom > h3
{
  background-color:black; 
  color:white; margin:0; 
  padding:0 20px 0 20px; 
  text-align:left;
}
